{% extends 'base.html.twig' %}
    {% block title %}{{parent()}} - Accueil{% endblock %}
    {% block body %}
    <h1 class="text-center text-primary"> PeachComs : Laisser libre cours à votre imagination, je m'occupe de tout  </h1>
    {% endblock %}